@font-face {
  font-family: 'Lato-regular';
  src: url('Font/Lato-Regular.ttf') format('truetype'); /* Ruta al archivo de la tipografía */
}

@font-face {
  font-family: 'Lato-black';
  src: url('Font/Lato-Black.ttf') format('truetype'); /* Ruta al archivo de la tipografía */
}

@font-face {
  font-family: 'Lato-hairline';
  src: url('Font/Lato-Thin.ttf') format('truetype'); /* Ruta al archivo de la tipografía */
}
@font-face {
  font-family: 'Lato-light';
  src: url('Font/Lato-Light.ttf') format('truetype'); /* Ruta al archivo de la tipografía */
}


#main-menu a {
  color: #fff;
  font-family: lato-light;
  text-decoration: none;
  padding: 10px 20px;
}
#main-menu {
  display: flex;
  justify-content: space-between;
  padding: 0em;
}
#main-menu li {
  list-style: none;
}
#menu {
  display: flex;
  width: 50%;
  justify-content: space-around;
}
#menu .active{
  color: rgb(215, 0, 165);
}
#menu a:hover{
  background-color: rgb(255, 0, 251);
  font-family: lato-regular;
  color: black;
  transition: ease-in 0.3s;
}
.logo{
  margin-top: -10px;
  margin-left: 20px;
}
#welcome {
  width: 100vw;
  height: 100vw;
}
#iam{
  font-size: 70px;
  display: flex;
  justify-content: center;
}
#welcome span{
  font-family: lato-black;
  color: rgb(177, 0, 180);
}
#welcome p{
  margin-left: 40px;
  margin-right: 40px;
}

h1 {
  margin-top: 150px;
  margin-bottom: 10px;
  font-family: Lato-black;
  font-size: 120px;
  display: flex;
  justify-content: center;
}
#slogan {
  font-family: lato-hairline;
  font-size: 60px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
#portada{
  display: flex;
  justify-content: center;
  margin-bottom: 90px;
  
}
body {
  background-image: url('fondo.png');
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  font-family: Lato-regular;
}

.aboutme {
  width: 100%;
  background-color:rgba(48, 0, 51, 0.8) ;
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
}

.aboutme h2 {
  font-family: lato-black;
  font-size: 90px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 100px;
}

#in_me {
  display: flex;
  align-items:center; /* Alinea verticalmente los elementos */
  gap: 40px; /* Espacio entre la imagen y el texto */
}
#in_me #foto {
  justify-content: center;
  margin-right: 100px;
  margin-bottom: 70px;
  margin-top: 0px;
}

#in_me p{
  font-family: lato-light;
  margin: 0; /* Elimina márgenes adicionales del párrafo */
  font-size: 40px;
  line-height: 1.5;
}
#modelado{
  gap: 20px;
}
.contenido img {
  align-self: flex-start;
  width: 500px;
  height: auto;
  margin-right: 300px;
  margin: 50px;
}

#modelado h2 {
  font-family: lato-black;
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 100px;
}
#modelado .contenido{
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  gap: 20px;
}
.contenido p {
  text-align: left;
  font-family: lato-light;
  font-size: 30px;
  line-height: 1.5;
  margin: 0;
}