@font-face {
  font-family: 'Lato-regular';
  src: url('Font/Lato-Regular.ttf') format('truetype'); /* Ruta al archivo de la tipografía */
}

@font-face {
  font-family: 'Lato-black';
  src: url('Font/Lato-Black.ttf') format('truetype'); /* Ruta al archivo de la tipografía */
}

@font-face {
  font-family: 'Lato-hairline';
  src: url('Font/Lato-Thin.ttf') format('truetype'); /* Ruta al archivo de la tipografía */
}
@font-face {
  font-family: 'Lato-light';
  src: url('Font/Lato-Light.ttf') format('truetype'); /* Ruta al archivo de la tipografía */
}
#main-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    position: fixed;
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    background-color: #ee00fb7f; /* Color de fondo del nav */
    z-index: 900; /* Asegura que el nav esté por encima de otros elementos */
    padding: 10px 0; /* Espaciado interno vertical */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5); /* Opcional: agrega una sombra para destacar el nav */
  }
#main-menu li {
  display: inline;
}
#main-menu li a {
  font-family: lato-hairline;
  font-size: 30px;
  text-decoration: none;
  float: left;
  padding: 10px;
  color: #fff;
}

#main-menu li a:hover {
  font-family: lato-regular;
  background-color: #cf0091;
  margin-top: -2;
  padding-bottom: 12px;
}

h1 {
  margin-top: 150px;
  margin-bottom: 10px;
  font-family: Lato-black;
  font-size: 120px;
  display: flex;
  justify-content: center;
}
#slogan {
  font-family: lato-hairline;
  font-size: 60px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
#portada{
  display: flex;
  justify-content: center;
  margin-bottom: 90px;
  
}
body {
  background-image: url('fondo.png');
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  font-family: Lato-regular;
}

.aboutme {
  width: 100%;
  background-color:rgba(48, 0, 51, 0.8) ;
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
}

.aboutme h2 {
  font-family: lato-black;
  font-size: 90px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 100px;
}

#in_me {
  display: flex;
  align-items:center; /* Alinea verticalmente los elementos */
  gap: 40px; /* Espacio entre la imagen y el texto */
}
#in_me #foto {
  justify-content: center;
  margin-right: 100px;
  margin-bottom: 70px;
  margin-top: 0px;
}

#in_me p{
  font-family: lato-light;
  margin: 0; /* Elimina márgenes adicionales del párrafo */
  font-size: 40px;
  line-height: 1.5;
}

.areas p{
  display: flex;
  justify-content: center;
  font-family: lato-regular;
  font-size: 25px;
}

#zones{
  display: flex;
  display: inline;
  justify-content: center;
  margin-top: 50px;
}